*{
    margin: 0;
    padding: 0;
}
/* Common Style */

.common-style{
    max-width: 1200px;
    margin: auto;
}

img{
    max-width: 100%;
}

/* Navbar Style */
.navigation{
    display: flex;
    justify-content:space-between;
    padding: 20px 0px;
}

header{
    background-color: white;
}

/* Common Button Style */
.common-btn{
    background-color: #1D4ED8;
    padding: 12px 28px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    border: none;
    cursor: pointer;
}

/* List Style */
ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    align-items: center;
}
ul li a{
    font-size: 23px;
    color: #575757;
    text-decoration: none;
}

/* Hero Section Style */
.hero-root{
    display: flex;
    justify-content: center;
    background-image:   linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.7)), url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color:#FFFFFF;
}
.data{
    text-align: center;
    max-width: 700px;
    padding: 0px 20px;
}
.data h2{
    margin-bottom: 20px;
    font-size: 70px;
}
.data p{
  margin-bottom: 220px;
  line-height: 1.6;
  font-size: 22px ;
}
.large{
    padding: 35px 25px;
    font-size: 2rem;
}

/* Speakers Section Style */

.speakers{
    padding: 0 4rem;
}
.speakers-root{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-content: space-between;
    gap:2rem;
}
.speaker-card{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 12px;
}

.spekaer-info{
    padding: 1rem;
}
.Work{
    color:#1D4ED8
}
.info{
    color:#575757
}

.Content{
    text-align: center;
    margin-top: 20px ;
    margin-bottom: 20px;
    font-size:100px;
}

.speaker-card img{
    width: 100%;
    object-fit: cover;
}